<select class="form-select" name="aylar">
    <option value="01">Ocak</option>
    <option value="02">Şubat</option>
    <option value="03">Mart</option>
    <option value="04">Nisan</option>
    <option value="05">Mayıs</option>
    <option value="06">Haziran</option>
    <option value="07">Temmuz</option>
    <option value="08">Ağustos</option>
    <option value="09">Eylül</option>
    <option value="10">Ekim</option>
    <option value="11">Kasım</option>
    <option value="12">Aralık</option>
</select>

